body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table.info{
	 border: 1px solid black;
   width: 95%;
   margin: 0 auto;
   max-width: 1070px;
}
table.info td{
  border: 1px solid black;
}

.lego-img{
  max-width: 100px;
}


/* Movie List styles */
.movieList{
	margin: 0 auto;
	background-color: black;
	list-style: none;
	padding: 0;
}
.movieListItem a{
  padding: 30px;
  color: #fff;
  border: 1px solid #444;
  clear: both;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.movieListItem a:hover{
	color: red;
}
.movieListItem a:visited{
	opacity: 0.8;
  text-decoration: underline;
}
